@media screen and (max-width: 375px) {
  .grid-container {
    grid-template: "header" "main" "footer" 40px; }
  .grid_cards {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 400px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    grid-row-gap: 1rem; }
  .grid_cards2 {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 460px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    grid-row-gap: 1rem; } }

@media screen and (min-width: 376px) and (max-width: 390px) {
  .grid-container {
    grid-template: "header" "main" "footer" 40px; }
  .grid_cards {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 400px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    grid-row-gap: 1rem; }
  .grid_cards2 {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 460px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    grid-row-gap: 1rem; } }

@media screen and (min-width: 391px) and (max-width: 480px) {
  .grid-container {
    grid-template: "header" "main" "footer" 40px; }
  .grid_cards {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 400px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 35px;
    grid-row-gap: 1rem; }
  .grid_cards2 {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 460px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    grid-row-gap: 1rem; } }

@media screen and (min-width: 481px) and (max-width: 600px) {
  .grid-container {
    grid-template: "header" "main" "footer" 40px; }
  .grid_cards {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 400px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 35px;
    grid-row-gap: 1rem; }
  .grid_cards2 {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 460px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    grid-row-gap: 1rem; } }

@media screen and (min-width: 601px) and (max-width: 767px) {
  .grid-container {
    grid-template: "header" "main" "footer" 40px; }
  .grid_cards {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 400px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 35px;
    grid-row-gap: 1rem; }
  .grid_cards2 {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 460px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    grid-row-gap: 1rem; } }

@media screen and (min-width: 768px) and (max-width: 960px) {
  .grid-container {
    grid-template: "header" "main" "footer" 40px; }
  .grid_cards {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 400px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 35px;
    grid-row-gap: 1rem; }
  .grid_cards2 {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 460px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    grid-row-gap: 1rem; } }

@media screen and (min-width: 961px) and (max-width: 1023px) {
  .grid-container {
    grid-template: "header" "main" "footer" 40px; }
  .grid_cards {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 400px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 35px;
    grid-row-gap: 1rem; }
  .grid_cards2 {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 460px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    grid-row-gap: 1rem; } }

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .grid-container {
    grid-template: "header" "main" "footer" 40px; }
  .grid_cards {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 400px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 35px;
    grid-row-gap: 1rem; }
  .grid_cards2 {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 460px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    grid-row-gap: 1rem; } }

@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .grid-container {
    grid-template: "header" "main" "footer" 40px; }
  .grid_cards {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 400px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 35px;
    grid-row-gap: 1rem; }
  .grid_cards2 {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 460px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    grid-row-gap: 1rem; } }

@media screen and (min-width: 1301px) {
  .grid-container {
    grid-template: "header" "main" "footer" 40px; }
  .grid_cards {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 460px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 35px;
    grid-row-gap: 1rem; }
  .grid_cards2 {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 460px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    grid-row-gap: 1rem; } }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  min-height: 100%; }

.grid-container > * {
  padding: 5px; }

.main {
  grid-area: main;
  background-color: #f5f5f5;
  margin-top: 1px;
  grid-template-columns: 200px;
  grid-template-rows: 200px; }

.header {
  grid-area: header;
  width: 100%;
  margin: 0;
  padding: 0; }

.footer {
  grid-area: footer;
  text-align: center;
  font-weight: bolder;
  font-family: sans-serif;
  justify-content: center;
  background-color: #262626;
  color: #b0a99f;
  font-size: small; }

.grid-container {
  display: grid;
  gap: 15px;
  grid-template: "header" "main"    "footer" 40px; }

/* navbar */
.logo-nav {
  font-size: 2.1rem;
  font-weight: bolder;
  padding: 0 40px;
  color: red;
  text-decoration: none; }

.nav-link:hover {
  color: red;
  transition: 0.5s; }

a:hover {
  color: red;
  transition: 0.5s; }

/* fin navbar */
.centrado {
  text-align: center; }

.overflow {
  overflow-x: hidden; }

/*grids de las cards*/
.titulo__card {
  font-size: 1rem;
  text-align: center;
  font-weight: bold; }

.precio__card {
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  margin-top: 2rem; }

.precio__card2 {
  font-size: 1rem;
  text-align: center;
  font-weight: bolder;
  margin-top: 1rem; }

.boton__ajuste, .boton_azul, .boton_gold {
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
  background-color: red; }

/*extend */
.boton_azul {
  background-color: #320d6d; }

.boton_gold {
  background-color: #35a7ff; }

/*arreglos faq*/
.arreglo__texto {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  justify-content: center; }

.arreglo__instruc {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

.fielset__arreglo {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; }

.fielset__arreglo {
  width: 40%;
  height: 25%;
  margin: auto;
  padding: 0;
  border-radius: 20px;
  border: 3px solid;
  margin-bottom: 28px; }

.centrado {
  display: flex;
  justify-content: center; }

.estilo__legales {
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, Sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  color: red; }

/*fin arreglos faq*/
/*animaciones*/
.animacion_texto {
  animation-duration: 3s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.animacion_texto {
  overflow: hidden; }

/*fin animaciones*/
