@media screen and (max-width: 375px){
    .grid-container {
        grid-template: 
        "header"
        "main"
        "footer" 40px;
    }

    .grid_cards {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 400px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 50px;
        grid-row-gap: 1rem;
    }

    .grid_cards2 {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 460px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 50px;
        grid-row-gap: 1rem;
    }
}

@media screen and (min-width: 376px) and (max-width: 390px) {
    .grid-container {
        grid-template: 
        "header"
        "main"
        "footer" 40px;
    }

    .grid_cards {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 400px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 50px;
        grid-row-gap: 1rem;
    }
    .grid_cards2 {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 460px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 50px;
        grid-row-gap: 1rem;
    }
}

@media screen and (min-width: 391px) and (max-width: 480px){
    .grid-container {
        grid-template: 
        "header"
        "main"
        "footer" 40px;
    }

    .grid_cards {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 400px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 35px;
        grid-row-gap: 1rem;
    }
    .grid_cards2 {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 460px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 50px;
        grid-row-gap: 1rem;
    }
}


@media screen and (min-width: 481px) and (max-width: 600px) {
    .grid-container{
        grid-template: 
        "header"
        "main"
        "footer" 40px;
    }

    .grid_cards {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 400px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 35px;
        grid-row-gap: 1rem;
    }
    .grid_cards2 {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: 460px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 50px;
        grid-row-gap: 1rem;
    }
}


@media screen and (min-width: 601px) and (max-width: 767px) {
    .grid-container {
        grid-template: 
        "header"
        "main"
        "footer" 40px; 
    }

    .grid_cards {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 400px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 35px;
        grid-row-gap: 1rem;
    }
    .grid_cards2 {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 460px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 50px;
        grid-row-gap: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
    .grid-container {
        grid-template: 
        "header"
        "main"
        "footer" 40px;
    }

    .grid_cards {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: 400px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 35px;
        grid-row-gap: 1rem;
    }
    .grid_cards2 {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 460px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 50px;
        grid-row-gap: 1rem;
    }
}

@media screen and (min-width: 961px) and (max-width: 1023px) {
    .grid-container{
        grid-template: 
        "header"
        "main"
        "footer" 40px;
    }

    .grid_cards {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px;
        grid-template-rows: 400px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 35px;
        grid-row-gap: 1rem;
    }
    .grid_cards2 {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 460px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 50px;
        grid-row-gap: 1rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .grid-container {
        grid-template: 
        "header"
        "main"
        "footer" 40px;
    }
    .grid_cards {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px;
        grid-template-rows: 400px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 35px;
        grid-row-gap: 1rem;
    }
    .grid_cards2 {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 460px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 50px;
        grid-row-gap: 1rem;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
    .grid-container {
        grid-template: 
        "header"
        "main"
        "footer" 40px;
    }
    .grid_cards {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px 200px;
        grid-template-rows: 400px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 35px;
        grid-row-gap: 1rem;
    }
    .grid_cards2 {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 460px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 50px;
        grid-row-gap: 1rem;
    }
}

@media screen and (min-width: 1301px) {
    .grid-container {
        grid-template: 
        "header"
        "main"
        "footer" 40px;
    }
    .grid_cards {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px 200px;
        grid-template-rows: 460px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 35px;
        grid-row-gap: 1rem;
    }
    .grid_cards2 {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 460px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-left: 50px;
        grid-row-gap: 1rem;
    }
}