.titulo__card {
    font-size: 1rem;
    text-align: center;
}

.precio__card{
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
}

.estilo__navegacion {
    text-align: center;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, Sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}

.navbar {
    font-family: Arial, "Helvetica Neue", Helvetica, Sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}

footer {
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
    color: #b0a99f;
    font-size: small;
}

.arreglo__texto {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.precio {
    font-size: 28px;
    font-weight:normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.grey {
    color: #b0a99f;
}

.greyclaro {
    color: #c1bcb4;
}

.grid__texto {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: large;
}

.estilo__legales {
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, Sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}

.fielset__arreglo {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.arreglo__instruc {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}  